<!DOCTYPE html>
<html>
<head>
    <title>{{ project.name }}</title>
</head>
<body>
<h1>{{ project.name }}</h1>
<p><strong>Description:</strong> {{ project.description }}</p>
<p><strong>Created at:</strong> {{ project.created_at }}</p>
<a href="{% url 'project_list' %}">⬅ Back to Projects</a>
<h3>➕ <a href="{% url 'add_task' project.id %}">Add New Task</a></h3>
<h3>Tasks in this Project:</h3>
<ul>
    {% for task in project.tasks.all %}
        <li>
            <strong>{{ task.title }}</strong> - {{ task.status }}
            {% if task.assigned_to %} (Assigned to: {{ task.assigned_to.username }}){% endif %}
        </li>
    {% empty %}
        <li>No tasks yet.</li>
    {% endfor %}
</ul>

<a href="{% url 'create_task' project.id %}">➕ Add Task</a>
<a href="{% url 'task_list' project.id %}">View Tasks</a>


</body>
</html>
